:root {
    --main-color: #acfcda;
    --main-color-dark: #98ded9;
    --main-color-light: #ace7fe;
    --text-color: #333;
    --text-color-dark: #000;
    --text-color-light: #8f8f8f;
    --pagination-color: #7c7c7c;
    --background-color: #fff;
    --background-color-dark: #f6f6f6;
    --color-red: #fa002a;
    --color-red-light: #ff607b;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

html {
    color: var(--text-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: var(--main-color-dark);
}

a:hover {
    color: var(--main-color-light);
}

ul {
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

input,
textarea,
select {
    outline: none;
}

a,
button {
    cursor: pointer;
}

/* ---------------------------------------Nav-------------------------------------- */
.main-nav {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 0 10px;
    height: 56px;
    margin: 0;
}

.nav-item {
    position: relative;
}

a.nav-item__logo {
    font-size: 20px;
    text-transform: none;
}

.nav-item__link {
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px;
    display: flex;
}

.nav-item__link:hover {
    color: var(--white-color);
}

.nav-item__link-account {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item__img {
    width: 30px;
    margin-right: 8px;
    border-radius: 50%;
}

.nav-item__icon-down {
    margin: -5px 0 0 10px;
}

.nav-more:hover {
    cursor: pointer;
}

.nav-more:hover .subnav {
    display: block;
}

.subnav {
    background-color: #f6f6f6;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    padding: 5px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
}

.subnav-item {
    padding: 3px 20px;
    min-width: 80px;
}

.subnav-item:hover {
    background-color: var(--main-color-dark);
}

.subnav-item:hover .subnav-item__link {
    color: var(--text-color);
}

.subnav-item__link {
    color: var(--text-color);
    display: block;
}

/* ---------------------------------------Main-------------------------------------- */
.main {
    display: flex;
}

/* ---------------------------------------Sidebar-------------------------------------- */
.sidebar {
    background-color: var(--background-color-dark);
    height: calc(100vh - 56px);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-list {
    margin-top: 20px;
    margin-bottom: auto;
}

.sidebar-item.active {
    background-color: var(--main-color-dark);
}

.sidebar-item__icon {
    margin-right: 8px;
}

.sidebar-item__link {
    display: block;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    padding: 12px 15px;
}

.sidebar-item__link:hover {
    color: var(--text-color);
    background-color: var(--main-color-dark);
}

.sidebar-info {
    font-size: 14px;
    padding: 10px 20px;
    border-top: 1px solid var(--pagination-color);
}

.sidebar-info__link {
    color: var(--text-color);
}

.sidebar-info__link:hover {
    color: var(--main-color-dark);
}

.sidebar-info__link + .sidebar-info__link {
    margin-left: 10px;
}

.sidebar-info__license {
    display: block;
    margin-top: 5px;
}

.main-right {
    flex: 1;
    padding: 20px;
}

/* General */
.text-center {
    text-align: center;
}

.btn {
    outline: none;
    background-color: var(--main-color);
    padding: 10px 20px;
    font-weight: 600;
    color: var(--text-color);
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 100px;
}

/* Heading */
.main-right__heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #7c7c7c;
}

/* Right content */
.main-right__content {
    margin-top: 15px;
}
