/* Heading */
.main-right__search {
    margin-left: auto;
}

.main-right__input {
    padding: 8px 10px;
    min-width: 250px;
    border: 1px solid var(--pagination-color);
    border-radius: 100px;
    font-size: 14px;
}

.main-right__submit {
    padding: 5px;
    border-radius: 50%;
}
/* Table */
table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: var(--background-color-dark);
}

.tbl-content {
    height: 65vh;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: var(--text-color);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.table-img {
    width: 70%;
}

.btn-update {
    margin-right: 10px;
}

.btn-update i, .btn-delete i {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

.btn-delete {
    color: var(--color-red);
}

.btn-delete:hover {
    color: var(--color-red-light);
}
