* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.nav-right {
    position: relative;
}

.nav-right__icon {
    color: white;
    font-size: 28px;
}

.cart-count {
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: white;
    font-size: 14px;
    top: 0;
    right: -12px;
}

.main {
    margin-top: 16px;
}

.product-item {
    padding: 10px;
}
